/* common/base.less
 * Base LESS file, defines overall
 * project CSS structure.
 */

@import 'colors';

@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-ExtraLight.otf");
  font-weight: 100;
}


@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "HelveticaNeue-UltraLight";
  src: url("../font/HelveticaNeue-UltraLight.otf");
  font-weight: 100;
}


body {
  margin: 0;
}

*{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.centerized{
  display: -webkit-box;
  -webkit-box-align:center;
  -webkit-box-pack:center;
  -webkit-box-orient : vertical;
}


.area h2{
  text-align: center;
}

.leaflet-div-icon{
  background : transparent !important;
  border : 0 !important;
}

.doggy-icon-wrapper{
  width:32px;height:32px;border-radius:20px;overflow:hidden;border:2px solid #fff;
  img{
    width:32px; height:32px; border-radius: 20px;
  }
}