<div class="topcoat-tab-bar full">
    <label class="topcoat-tab-bar__item">
        <input type="radio" name="topcoat" ng-model="uiState" value="map"  ng-click="switchTo('dashboard')">
        <button class="topcoat-tab-bar__button full">Map</button>
    </label>
    <label class="topcoat-tab-bar__item">
        <input type="radio" name="topcoat" ng-model="uiState" value="inbox" ng-click="switchTo('inbox')">
        <button class="topcoat-tab-bar__button full">Inbox</button>
    </label>
</div>
