<!doctype html>
<html lang="en">
<head>
  <title><%= appName %></title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="img/favicon.png">

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

    <% if (env == 'development') {
     css.forEach(function(asset) {
       print('  <link rel="stylesheet" href="' + asset.substring(4) + '"/>\n');
     });
   } else if (env == 'production') {
     print('  <link rel="stylesheet" href="css/app.css" />');
   } %>

  <script src="phonegap.js"></script>
<% if (env == 'development') {
  print('  <script src="js/config/development.js"></script>');
     js.forEach(function(asset){
       print('  <script src="' + asset.substring(4) + '"></script>\n');
     });
   } else if (env == 'production') {
     print('  <script src="js/application.js"></script>');
   } %>

</head>
<body ng-controller="MainController">

    <div id="wrapper" ng-view class="my-slide-animation"></div>

  <script type="text/javascript">
    pg.initialize();
  </script>

</body>
</html>
