<div class="screen home-screen" ng-class="{blurred : showOverlay}" ng-show="state === 'welcome'">
    <h1>
        WELCOME
    </h1>
    <div class="start-button-wrapper">
        <p> To get started, please select <br> a photo of your dog </p>
        <button class="hbtn" ng-click="showOverlay=true"> Start </button>
    </div>
</div>



<div class="screen home-screen home-screen2 animated" ng-class="{blurred : showOverlay}" ng-show="state === 'finish'" ng-animate="{show : bounceInDown}">
    <form ng-submit="createAccount()">

    <h1>
        Create you dog's profile
    </h1>

    <div class="dog-thumbnail" style="background-image : url('{{newAccountDogThumbnail}}')" ng-click="showOverlay=true"></div>
        <input type="text" placeholder="Dog Name" maxlength="20" ng-model="newAccount.dog.name">

        <div class="start-button-wrapper">
            <button class="hbtn" type="submit"> Finish & Start Playing </button>
        </div>

    </form>
</div>




<div class="overlay open" ng-if="showOverlay" ng-animate="">
    <button class="hbtn" ng-click="takePicture()"> Take a photo </button>
    <button class="hbtn"  ng-click="takePicture(true)"> Select form Gallery </button>
</div>


