<div class="content home-screen">
    <div class="area">
        <section class="centerized">
            <input type="text" class="topcoat-text-input" placeholder="Email" value="" ng-model="loginAccount.email">
            <br>
            <input type="password" class="topcoat-text-input" placeholder="Password" value=""  ng-model="loginAccount.password">
            <br>
            <br>
            <span class="topcoat-notification" ng-show="error" style="margin-bottom: 5px;">{{error}}</span>
            <br>
            <button class="topcoat-button--cta" ng-click="switchTo('home')">Back</button>
            <button class="topcoat-button--cta" ng-click="login($event)">Login</button>

        </section>
    </div>
</div>

